<%- contentFor('body') %>

<main class="content-container">
  <h1>Famous Quotes</h1>
  <h4>Share your own favorite quotes with the world!</h4>

  <% messages.forEach((message) => { %>

  <div class="message">
    <% if (member) { %>
    <div class="message-box">
      <h5>Famous Person:</h5>
      <h4><%= message.user?.firstName %> <%=message.user?.lastName%></h4>
    </div>
    <div class="message-box">
      <h5>Date Indexed:</h5>
      <h4><%=message.timestamp_formatted %></h4>
    </div>

    <% } else { %>
    <div class="message-box">
      <h5>Posted by:</h5>
      <h4>Members Only!</h4>
    </div>

    <div class="message-box">
      <h5>Post Date:</h5>
      <h4>Members Only!</h4>
    </div>

    <% } %>
    <div class="message-box">
      <h5>Subject:</h5>
      <h4><%= message.title %></h4>
    </div>

    <div class="message-box">
      <h5>Quote:</h5>
      <p class="textbox">"<%= message.message %>"</p>
    </div>

    <% if (admin) { %>

    <form
      method="POST"
      class="delete-button"
      action="/messages/<%= message._id%>"
    >
      <input type="submit" value="Delete" />
    </form>

    <% } %>
  </div>
  <% }) %>
</main>
