<%- contentFor('body') %>

<main class="content-container">
  <%- (typeof firstname !== 'undefined') ? `This is the messages page,
  ${firstname}. ` : "This is the messages page. You are not logged in." %>

  <h1>Message Board</h1>
  <a href="/message-create">Create a New Message</a>

  <% messages.forEach((message) => { %>

  <div class="message">
    <% if (member) { %>
    <div class="message-box">
      <h5>Name:</h5>
      <h4><%= message.firstname %> <%= message.lastname %></h4>
    </div>
    <div class="message-box">
      <h5>Date Created:</h5>
      <h4><%=message.timestamp %></h4>
    </div>

    <% } else { %>
    <div class="message-box">
      <h5>Posted by:</h5>
      <h4>Members Only!</h4>
    </div>

    <div class="message-box">
      <h5>Post Date:</h5>
      <h4>Members Only!</h4>
    </div>

    <% } %>
    <div class="message-box">
      <h5>Subject:</h5>
      <h4><%= message.title %></h4>
    </div>

    <div class="message-box">
      <h5>Message:</h5>
      <p class="textbox"><%= message.message %></p>
    </div>

    <% if (admin) { %>
    <div class="message-actions">
      <a href="/message-delete/<%= message.id %>">Delete</a>
    </div>
    <% } %>
  </div>
  <% }); %>
</main>
