<%- contentFor('body') %>

<main class="content-container">
  <h1>Message Board</h1>

  <% messages.forEach((message) => { %>

  <div class="message">
    <% if (member) { %>
    <div class="message-box">
      <h5>Name:</h5>
      <h4><%= message.firstName %> <%= message.lastName %></h4>
    </div>
    <div class="message-box">
      <h5>Date Created:</h5>
      <h4><%=message.timestamp %></h4>
    </div>

    <% } else { %>
    <div class="message-box">
      <h5>Posted by:</h5>
      <h4>Members Only!</h4>
    </div>

    <div class="message-box">
      <h5>Post Date:</h5>
      <h4>Members Only!</h4>
    </div>

    <% } %>
    <div class="message-box">
      <h5>Subject:</h5>
      <h4><%= message.title %></h4>
    </div>

    <div class="message-box">
      <h5>Message:</h5>
      <p class="textbox"><%= message.message %></p>
    </div>

    <% if (admin) { %>

    <form method="POST" action="/messages/<%= message._id%>">
      <input type="submit" value="Delete" />
    </form>

    <% } %>
  </div>
  <% }) %>
</main>
