<%- contentFor('body') %>
<main class="content-container">
  <h1>Sign Up</h1>
  <form method="POST" action="">
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      value="<%-
    undefined == user ? '' : user.firstName %>"
      required
    />
    <br />
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      value="<%-
    undefined == user ? '' : user.lastName %>"
      required
    />
    <br />
    <label for="username">Email:</label>
    <input
      type="text"
      id="username"
      name="username"
      value="<%-
    undefined == user ? '' : user.username %>"
      required
    />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
    <br />

    <% if (errors) { %>
    <div class="error">
      <ul>
        <h5>
          Please resolve the following <% errors.length === 1 ? 'error' :
          'errors' %>:
        </h5>
        <% errors.map(function(error) { %>
        <p><%= error.msg %></p>
        <% }); %>
      </ul>
    </div>
    <% } %>

    <input type="submit" value="Sign Up" />
  </form>

  <p>Already have an account? <a href="/login">Sign In</a></p>
</main>
